In [11]:
import pandas as  pd

data = {
    'name':['zia','afnan','haris','ishaq'],
    'age' : [20,12,23,22],
    'address' : ['landi kotal','islamabad','lahore','england']
}

full_data = pd.DataFrame(data)

print(full_data)

    name  age      address
0    zia   20  landi kotal
1  afnan   12    islamabad
2  haris   23       lahore
3  ishaq   22      england